<div ng-controller="indexCtrl">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope m-0 mb-3 card3">
            <h3 class="head">Creazione nuovo indice</h3>
        </div>
        <div class="card ng-scope head card3">
            <div class="breadcrumb ng-scope m-0 mb-3 ">
                <h5 class="head">Descrizione nuovo indice</h5>
            </div>
            <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-5 align-self-center">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="m-0" for="name">Nome indice:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="indName" ng-model="indName" id="name"
                                   class="sizeSelect textinput m-0">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 align-self-center">
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="descr"> Breve descrizione:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea style=" resize:none" type="text" name="indDescr" ng-model="indDescr" rows="3"
                                      class="card4 textinput" id="descr"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="card ng-scope head mt-3 card3">
            <div class="breadcrumb ng-scope m-0 mb-3 ">
                <h5 class="head">Logica indice</h5>
            </div>
            <div class="row" ng-show="!sem">
                <div class="col-md-12">
                    <div class=" card ng-scope head card3">
                    <div class="row">

                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="disp m-0" for="sel1">Semantica indice:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select id="sel1" class="form-control sizeSelect textinput ml-0"
                                                ng-disabled="sem"
                                                placeholder="Seleziona semantica indice" ng-model="semantic">
                                            <option hidden></option>
                                            <option ng-if="Show_ML" value="product">Prodotto</option>
                                            <option ng-if="Show_MC" value="food">Piatto</option>
                                            <option ng-if="Show_TM" value="economic">Economico</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div ng-if="sem">
                <div class="row mt-3">
                    <div class="col-md-3">
                        <button class="oper" ng-click="clean()" style="max-width: 100%">Pulisci</button>
                    </div>
                    <div class="col-md-6">
                        <div class="card ng-scope head card3" style="height: 3rem">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' + ')"><i class="fa fa-fw fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' - ')"><i class="fa fa-fw fa-minus"></i>
                                    </button>
                                </div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' * ')"> X
                                    </button>
                                </div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' / ')"> /</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' ^ ')"> Exp</button>
                                </div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText('.')"> .</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' ( ')"> (</button>
                                </div>
                                <div class="col-md-1 p-0">
                                    <button class="oper m-0" ng-click="addText(' ) ')"> )</button>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="oper" ng-click="back()" style="max-width: 100%"><i class="fa fa-long-arrow-left"
                                                                                          aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <div class="card ng-scope head card3">
                            <div class="breadcrumb ng-scope m-0 p-0 mb-3">
                                <h6 class="head">Variabili</h6>
                            </div>
                            <div class="row p-0 m-1 mr-2" ng-repeat="variabl in optionVariable">
                                <div class="col-md-12">
                                    <button class="addProducts" id="{{variabl}}"
                                            ng-click="addText(variable + '.'+ variabl)" ng-model="check2">
                                        {{variabl}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ng-scope head card3" style="height: 3rem">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('0')">0</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('1')">1</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('2')">2</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('3')">3</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('4')">4</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('5')">5</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('6')">6</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('7')">7</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('8')">8</button>
                                        </div>
                                        <div class="col-md-1 p-0">
                                            <button class="oper m-0" ng-click="addText('9')">9</button>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div align="center">
                                <textarea style=" resize:none" class="textindex"
                                          placeholder="Scrivere funzione per un nuovo indice"
                                          readonly>{{textIndex}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card ng-scope head card3">
                            <div class="breadcrumb ng-scope m-0 p-0 mb-3 ">
                                <h6 class="head">Indici</h6>
                            </div>
                            <div class="row p-0 m-1 mr-2" ng-repeat="index in optionIndex">
                                <div class="col-md-12">
                                    <button class="addProducts" ng-click="addText('( '+index.calculate+' )')"
                                            id="{{index.nameIndex+1}}" ng-model="check2">

                                        {{index.nameIndex}}
                                    </button>
                                    <div class=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" ng-if="sem">
            <div class="col-md-12">
                <div align="right">
                    <div ng-show="whait"><img src="img/select2-spinner.gif"></div>
                    <button class="addProducts" ng-click="save()">+ Aggiungi indice</button>
                </div>
            </div>
        </div>
    </div>
</div>

