<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Data Analytics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- Stili aggiuntivi CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/select2.css">
    <link href="css/angular-datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="dist/select.css" rel="stylesheet" type="text/css"/>

</head>

<body id="page-top" ng-app="myApp" ng-controller="indexController">

<!-- Navigation -->
<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse back">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Data Analytics</a>
    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="sidebar-nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/indexEconomic"><i class="fa fa-fw fa-pie-chart"></i> Indici Economici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProduct"><i
                        class="fa fa-fw fa-area-chart"></i> Indici prodotti</a>
                <ul class="sidebar-second-level collapse" id="collapseProduct">
                    <li>
                        <a href="#!/indexProduct"><i class="fa fa-fw fa-product-hunt "></i> Prodotti</a>
                    </li>
                    <li ng-if="Show_MC">
                        <a href="#!/indexFood"><i class="fa fa-fw fa fa-cutlery "></i> Piatti</a>
                    </li>
                    <li>
                        <a href="#!/indexCategory"><i class="fa fa-fw fa-tags"></i> Categorie</a>
                    </li>
                    <li ng-if="Show_TM">
                        <a href="#!/indexCompare"><i class="fa fa-fw fa-balance-scale "></i> Confronti</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCategory"><i
                        class="fa fa-fw fa-tags "></i> Gestione categorie</a>
                <ul class="sidebar-second-level collapse" id="collapseCategory">
                    <li>
                        <a class="nav-link" href="#!/manageCategory"><i class="fa fa-fw fa-pencil"></i> Gestione
                            categorie</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!/addNewCategory"><i class="fa fa-fw fa-plus-circle"></i> Nuova
                            Categoria</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/newIndex"><i class="fa fa-fw fa-plus-circle"></i> Nuovo Indice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/reports"><i class="fa fa-fw fa-history"></i> Storico reports</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item" style="align-self:center">
                <label class="disp" for="sel1"></label>
                <select style="width:300px" ng-init="initAll()" ng-change="findUtente()" ng-model="selectValue"
                        id="sel1" ng-options="o.label for o in optionsUser track by o.id"
                        class="form-control sizeSelect delmargin">
                </select>
            </li>
            <li class="nav-item" >
                <a class="nav-link" style="cursor: pointer" ng-click="update()"><i class="fa fa-fw fa-refresh"></i>
                    Update data</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-wrapper py-3">
    <div class="container-fluid mt-5">
        <div ng-view></div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/tether/tether.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this template -->
<script src="js/sb-admin.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>

<script src="js/angular-route.js"></script>
<script src="js/navigation.js"></script>


<script src="js/service/serviceToBackend.js"></script>
<script src="js/controllers/oldCTRL/controllerIndexProduct.js"></script>
<script src="js/service/serviceCalculate.js"></script>
<script src="js/service/serviceUser.js"></script>

<script src="js/controllers/controllerEconomicIndex.js"></script>
<script src="js/controllers/controllerDate.js"></script>
<script src="js/controllers/controllerNewIndex.js"></script>
<script src="js/controllers/indexController.js"></script>
<script src="js/controllers/controllerReports.js"></script>
<script src="js/controllers/controllerHome.js"></script>
<script src="js/controllers/controllersProduct/controllerIndexProduct.js"></script>
<script src="js/controllers/controllersProduct/controllerIndexFood.js"></script>
<script src="js/controllers/controllersProduct/controllerIndexCategory.js"></script>
<script src="js/controllers/controllersManageCategory/controllerNewCategory.js"></script>
<script src="js/controllers/controllersManageCategory/controllerManageCategory.js"></script>
<script src="js/controllers/controllersManageCategory/controllerModCategory.js"></script>

<script src="js/select2.js"></script>
<script src="js/src/select2.js"></script>

<script src="js/angular-datepicker.js"></script>
<script src="js/angular-locale_lt.js"></script>
<script src="dist/select.js"></script>
<script src="dist/angular-sanitize.js"></script>


</body>

</html>