<div ng-controller="dateCtrl">
    <div class="row" ng-init="dateOn()">
        <div class="col-md-12">
            <div class="card head ng-scope mt-3 card3">
                <div class="row align-items-center">
                    <div class="col-4" align="center">
                        <label class="m-0" for="da">Data inizio analisi: </label>
                        <datepicker date-format="dd / MM / yyyy" date-week-start-day="1"
                                    date-max-limit="{{maxDate}}" date-typer="true">
                            <input ng-model="date1" align="center" placeholder="Scegliere una data di inizio"
                                   id="da" type="text" class="picker textinput" ng-readonly="true"/>
                        </datepicker>
                    </div>
                    <div class="col-4" align="center">
                        <label class="m-0" for="a">Data fine analisi: </label>
                        <datepicker date-format="dd / MM / yyyy" date-week-start-day="1"
                                    date-min-limit="{{minDate}}" date-max-limit="{{maxDate}}"
                                    date-set="{{dateSet}}" date-typer="true">
                            <input ng-model="date2" align="center" placeholder="Scegliere una data di fine"
                                   id="a" type="text" class="picker textinput" ng-readonly="true"/>
                        </datepicker>
                    </div>
                    <div class="col-4" align="center">
                        <label class="m-0" for="interv">Intervallo: </label>
                        <div>
                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                       class="form-control sizeSelect delmargin" id="interv"
                                       on-select="selectedInterv($item, $model)" style="text-align: left">
                                <ui-select-match placeholder="Seleziona intervallo">
                                    {{$select.selected.label}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="inter in optionsInterval | filter:$select.search">
                                    {{inter.label}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" align="center">
                    <div class="col-md-12">
                        <button class="calculate" ng-click="calculateGraph()">Calcola Grafico</button>
                        <div ng-show="whait"><img src="img/select2-spinner.gif"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="pdf" style="margin: 1rem" align="right">
        <a target="_self" href="{{pdfurl}}"  download>
            <button class="calculate" style="font-weight: bold;color: white">
                Scarica come pdf
                <i class="fa fa-fw fa-arrow-circle-down "></i>
            </button>
        </a>
    </div>
    <div class="card7" ng-bind-html="htm" ng-show="pdf"></div>
</div>
