<div ng-controller="ecoIndex">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope card3">
            <h3 class="head">Indici Economici</h3>
        </div>
        <!--INIZIO RIGA SELETTORI PRINCIPALI-->
        <div class="row" ng-init="documOn('Economic')">
            <!--INIZIO BLOCCO SELEZIONE PUNTI VENDITA-->
            <div class="col-md-7">
                <div ng-if="Show_TM">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <p><!--Seleziona Punto Vendita--></p>
                            <button class="addProducts" ng-click="addNewSalePoint()"> + Aggiungi Punto Vendita
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-control newmarg pb-0">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-11">
                                            <!--PRIMA SELECT STATICA PUNTI VENDITA-->
                                            <label class="disp delmargin" for="salepoint">Seleziona punto
                                                vendita:</label>
                                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                       class="form-control sizeSelect delmargin" id="salepoint"
                                                       on-select="selectedSP($item, $model,0)">
                                                <ui-select-match placeholder="Seleziona punto vendita">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="refreshSalePoint($select.search)"
                                                                   refresh-delay="0"
                                                                   repeat="salpoi in optionSalePoint | filter:$select.search">
                                                    {{salpoi.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <fieldset class="form-control newmarg pb-0" data-ng-repeat="salepoint in economicPS">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-8">
                                            <!--Blocco di generazione della select punti vendita + button per la rimozione-->
                                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                       class="form-control sizeSelect delmargin"
                                                       id="salepoint{{identityEconomicSP}}"
                                                       on-select="selectedSP($item, $model,$index)">
                                                <ui-select-match placeholder="Seleziona punto vendita">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="refreshSalePoint($select.search)"
                                                                   refresh-delay="0"
                                                                   repeat="salpoi in optionSalePoint | filter:$select.search">
                                                    {{salpoi.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <button ng-click="removeSalepoint($index)" class="remove"></button>
                                        </div>
                                        <div class="col-md-1 p-0" align="left">

                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <!--INIZIO BLOCCO SELEZIONE INDICI-->
            <div class="col-md-5 margine">
                <div class="card ng-scope head card3">
                    <div class="row ">
                        <div class="col-md-12">
                            <fieldset class="form-control newmarg">
                                <div class="form-group">
                                    <!--SELEZIONE INDICI-->
                                    <label class="disp" for="index1">Seleziona Indice:</label>
                                    <ui-select ng-model="multipleDemo.colors" theme="select2"
                                               class="form-control sizeSelect delmargin" id="index1"
                                               on-select="selectedIndex($item)">
                                        <ui-select-match placeholder="Seleziona indice">
                                            {{$select.selected.nameIndex}}
                                        </ui-select-match>
                                        <ui-select-choices refresh="refreshIndex($select.search)"
                                                           refresh-delay="0"
                                                           repeat="inde in optionIndex | filter:$select.search">
                                            <div>
                                                <div class="fer">{{inde.nameIndex}}<span
                                                        class="gre">{{inde.calculate}}</span>
                                                </div>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <!--FINE BLOCCO SELEZIONE INDICI-->
        </div>
        <!--FINE RIGA SELETTORI PRINCIPALI-->

        <!--SELETTORE DATE -->
        <div ng-include="'Views/datepicker.html'"></div>
    </div>

</div>