<div ng-controller="ctrlRep">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope card3">
            <h3 class="head">Gestione reports</h3>
        </div>
        <div class="row " ng-init="loadReport()">
            <div class="col-md-12">
                <div class="card ng-scope head card3 mt-2 mb-2" ng-repeat="rep in optionsReports">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="width: 100%" class=" card ng-scope head card5">{{rep.replace(".pdf","")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a target="_self" href="http://localhost:8080/report/download={{user}}/{{rep}}" download>
                                <button class="download">
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <button style="vertical-align: middle; height: 100%; width: 100%" class="remove"
                                    ng-click="deleteRep(rep,$index)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="noRep">
            <h1><a href="#!/">Non sono presenti reports, torna alla home</a></h1>
        </div>
    </div>
</div>