<div ng-controller="ctrlNewCategory">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope card3">
            <h3 class="head">Creazione nuova categoria</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 ng-scope head card3">
                    <div class="breadcrumb ng-scope" style="text-align: center; text-align-last: start">
                        <h5 class="head">Attributi categoria</h5>
                    </div>
                    <!-- BLOCCO INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                    <div>
                        <div class="row">

                            <div class="col-md-1"></div>
                            <div class="col-md-5 align-self-center">
                                <label>
                                    Nome Categoria:
                                    <input type="text" name="catName" ng-model="catName"
                                           class="sizeSelect textinput m-0">
                                </label>
                            </div>
                            <div class="col-md-5">
                                <div class="row" ng-if="Show_MC">
                                    <div class="col-md-12">
                                        <label class="m-0" for="sel">Classe categoria:</label>
                                    </div>
                                </div>
                                <div class="row" ng-show="Show_MC">
                                    <div class="col-md-12">
                                        <select id="sel" class="form-control sizeSelect textinput m-0"
                                                ng-model="typeobj"
                                                placeholder="Selezionare">
                                            <option hidden></option>
                                            <option value="0">Prodotti</option>
                                            <option value="1">Piatti</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <label for="descr"> Breve descrizione:</label>
                                <textarea style=" resize:none" type="text" name="catDescr" ng-model="catDescr"
                                          rows="3"
                                          class="card4 textinput" id="descr"></textarea>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <!--FINE BLOCCO  INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 ng-scope head card3">
                    <div class="breadcrumb ng-scope">
                        <h5 class="head">Aggiungi {{ !(Show_MC&& rolesel)? 'Prodotti' : 'Piatti'}}</h5>
                    </div>
                    <div class="row" ng-if="Show_TM && rolesel">
                        <div class="col-md-1">
                        </div>
                        <div class="col-11 p-0 mb-3">
                            <!--PRIMA SELECT STATICA-->
                            <label class="disp delmargin" for="salepoint0">Selezione locazione:</label>
                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                       class="form-control sizeSelect delmargin" id="salepoint0"
                                       ng-disabled="sp"
                                       on-select="selectedSP($item)">
                                <ui-select-match placeholder="Seleziona locazione">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices refresh="refreshSalePoint($select.search)"
                                                   refresh-delay="0"
                                                   repeat="salpoi in optionSalePoint | filter:$select.search">
                                    {{salpoi.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- BLOCCO INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                    <div class="row" ng-show="!Show_TM || !rolesel || sp">
                        <div class="col-md-1">
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <label> Aggiungi i seguenti {{ !(Show_MC&& rolesel)? 'Prodotti' : 'Piatti'}}: </label>
                            </div>
                            <div class="row">
                                <ui-select ng-model="productSel.selected" multiple theme="select2"
                                           class="form-control sizeSelect delmargin" id="selectProduct">
                                    <ui-select-match
                                            placeholder="Seleziona {{!(Show_MC&& rolesel)? 'Prodotti' : 'Piatti'}}">
                                        {{ !(Show_MC&& rolesel)? $item.description : $item.nome}}

                                    </ui-select-match>
                                    <ui-select-choices refresh="refreshProd($select.search)"
                                                       refresh-delay="0"
                                                       repeat="product in optionsProd | filter:$select.search">
                                        {{!(Show_MC&& rolesel)? product.description : product.nome}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <label> Aggiungi tutti i {{!(Show_MC&& rolesel)? 'Prodotti' : 'Piatti'}} delle seguenti categorie:</label>
                            </div>
                            <div class="row">
                                <ui-select ng-model="categorySel.selected" multiple theme="select2"
                                           class="form-control sizeSelect delmargin" id="selectCategory">
                                    <ui-select-match placeholder="Seleziona categorie">{{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="refreshCategory($select.search)"
                                                       refresh-delay="0"
                                                       repeat="category in optionsCat | filter:$select.search">
                                        {{category.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" align="right">
                        <button class="calculate" ng-click="saveCat()">+ Salva nuova categoria</button>
                    </div>
                    <!--FINE BLOCCO  INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                </div>
            </div>
        </div>
    </div>
</div>