<div ng-controller="ctrlManCategory">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope card3">
            <h3 class="head">Gestione categorie</h3>
        </div>
        <div class="row " ng-init="loadCat()">
            <div class="col-md-12">
                <div class="card ng-scope head card3 mt-2 mb-2" ng-repeat="cat in optionsCat">
                    <div class="row">
                        <div class="col-md-10 cursor" ng-click="focusCat(cat,$index)">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    {{cat.name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="width: 100%" class=" card ng-scope head card5">{{cat.description}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 cursor" ng-click="focusCat(cat,$index)">

                        </div>
                        <div class="col-md-1">
                            <div style="height: 50%">
                                <button class="modify" ng-if = "isStd(cat)" ng-click="focusModify(cat,$index)"></button>
                            </div>
                            <div style="height: 50%">
                                <button style="vertical-align: bottom ;height: 100%; width: 60%;" class="remove"
                                        ng-click="deleteCat(cat,$index)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="yes" ng-click="hide()" class="cursor">
            <div class="listP" id="poi">
                <div class="breadcrumb ng-scope card3 ">
                    <div class="breadcrumb ng-scope m-0 ">
                        <h3 class="head">Prodotti presenti in: {{category}}</h3>
                    </div>
                </div>
                <div class="breadcrumb ng-scope card3 ">
                    <div class="row ml-1 mr-1 pl-3" ng-repeat="prod in optionsProduct"
                         style="background-color: {{($index % 2 == 0) ? '#F0F0F0' : '#ffffff'}}">
                        <li>
                            {{prod.type=='food'? prod.nome : prod.description}}

                        </li>
                    </div>
                </div>
            </div>
            <div class="backP"></div>
        </div>
        <div ng-show="yes2" class="cursor"> <!--apro di nuovo la pagina di creazione nuova categoria-->
            <div class="listP" id="i">
                <div ng-controller="ctrlModCategory">
                    <div class="card ng-scope head card2">
                        <div class="breadcrumb ng-scope card3">
                            <h3 class="head">Modifica categoria</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-3 ng-scope head card3">
                                    <div class="breadcrumb ng-scope" style="text-align: center; text-align-last: start">
                                        <h5 class="head">Attributi categoria</h5>
                                    </div>
                                    <!-- BLOCCO INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                                    <div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5 align-self-center">
                                                <label>
                                                    Nome Categoria:
                                                     <input type="text" name="catName" ng-model="catName" value="{{cat.name}}"
                                                           class="sizeSelect textinput m-0" disabled>
                                                </label>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row" ng-if="Show_TM && Show_ML">
                                                    <div class="col-md-12">
                                                        <label class="m-0">Classe categoria:
                                                            <input type="text" ng-if="isFood" value="Piatti"
                                                                   class="sizeSelect textinput m-0" disabled>
                                                            <input type="text"  ng-if="isProduct" value="Prodotti"
                                                                   class="sizeSelect textinput m-0" disabled>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <label for="descr"> Breve descrizione:</label>
                                                <textarea style=" resize:none" type="text" name="catDescr" ng-model="catDescr"
                                                          rows="3"
                                                          class="card4 textinput" id="descr"></textarea>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <!--FINE BLOCCO  INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-3 ng-scope head card3">
                                    <div class="breadcrumb ng-scope">
                                        <h5 class="head">Aggiungi {{ ( (!isFood && Show_TM ) || !Show_MC )? 'Prodotti' : 'Piatti'}}</h5>
                                    </div>
                                    <div class="row" ng-show="isFood">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-11 p-0 mb-3">
                                            <!--PRIMA SELECT STATICA-->
                                            <label class="disp delmargin">Locazione:</label>
                                            <input type="text" ng-value = "catLoc" class="sizeSelect textinput m-0" disabled>
                                        </div>
                                    </div>
                                    <!-- BLOCCO INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                                    <div class="row" ng-show="!Show_MC || isProduct || isFood ">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-5">
                                            <div class="row">
                                                <label> Aggiungi i seguenti {{ ( isProduct )? 'Prodotti' : 'Piatti'}}: </label>
                                            </div>
                                            <div class="row">
                                                <ui-select ng-model="productSel.selected" multiple theme="select2"
                                                           class="form-control sizeSelect delmargin" id="selectProduct">
                                                    <ui-select-match
                                                            placeholder="Seleziona {{( isProduct  )? 'Prodotti' : 'Piatti'}}">
                                                        {{( isProduct )? $item.description : $item.nome}}
                                                    </ui-select-match>
                                                    <ui-select-choices refresh="refreshProd($select.search)"
                                                                       refresh-delay="0"
                                                                       repeat="product in optionsProd | filter:$select.search">
                                                        {{( isProduct ) ? product.description : product.nome}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="row">
                                                <label> Aggiungi tutti i {{ ( isProduct )? 'Prodotti' : 'Piatti'}} delle seguenti categorie:</label>
                                            </div>
                                            <div class="row">
                                                <ui-select ng-model="categorySel.selected" multiple theme="select2"
                                                           class="form-control sizeSelect delmargin" id="selectCategory">
                                                    <ui-select-match placeholder="Seleziona categorie">{{$item.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices refresh="refreshCategory($select.search)"
                                                                       refresh-delay="0"
                                                                       repeat="category in optionsCat | filter:$select.search">
                                                        {{category.name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" align="right">
                                        <button class="calculate" ng-click="saveCat()">Modifica categoria</button>
                                    </div>
                                    <!--FINE BLOCCO  INSERIMENTO ATTRIBUTI NUOVA CATEGORIA-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backP" ng-click=hide2()></div>
        </div>
    </div>
</div>