<div ng-controller="ctrlFood">
    <div class="card ng-scope head card2">
        <div ng-if="Show_MC" >
            <div class="breadcrumb ng-scope m-0 card3">
                <h3 class="head">Indice Piatti</h3>
            </div>
            <!-- Row blocco selezione prodotto -->
            <div class="row" ng-init="documOn('Food')">

                <div class="col-md-7 margine">
                    <div class="row ">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <p><!--Seleziona Prodotto--></p>
                            <button class="addProducts" ng-click="addNewProduct()">+ Aggiungi Piatto</button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <fieldset class="form-control newmarg pb-0">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12" ng-if="Show_TM">
                                            <!--PRIMA SELECT STATICA-->
                                            <label class="disp delmargin" for="salepoint0">Selezione locazione:</label>
                                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                       class="form-control sizeSelect delmargin" id="salepoint0"
                                                       on-select="selectedSP($item)">
                                                <ui-select-match placeholder="Seleziona locazione">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="refreshSalePoint($select.search)"
                                                                   refresh-delay="0"
                                                                   repeat="salpoi in optionSalePoint | filter:$select.search">
                                                    {{salpoi.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <label class="disp delmargin" for="food0">Seleziona piatto:</label>
                                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                       ng-disabled="(Show_TM && !seldisable)"
                                                       class="form-control sizeSelect delmargin " id="food0"
                                                       on-select="selectedProduct($item, $model,-1)">
                                                <ui-select-match placeholder="Seleziona piatto">
                                                    {{$select.selected.nome}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="refreshFood($select.search)"
                                                                   refresh-delay="0"
                                                                   repeat="food in optionsProd | filter:$select.search">
                                                    {{food.nome }}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-1 p-0">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <!--Blocco di generazione della UIselect prodotti + button per la rimozione-->
                            <fieldset class="form-control newmarg pb-0" ng-repeat="product in product">
                                <div class="form-group">
                                    <div class="row ">
                                        <div class="col-12">
                                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                       ng-disabled="(Show_TM && !seldisable)"
                                                       class="form-control sizeSelect delmargin"
                                                       id="food{{identityVal}}"
                                                       on-select="selectedProduct($item, $model,$index)">
                                                <ui-select-match placeholder="Seleziona piatto">
                                                    {{$select.selected.nome}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="refreshFood($select.search)"
                                                                   refresh-delay="0"
                                                                   repeat="food in optionsProd | filter:$select.search">
                                                    {{food.nome}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <button ng-click="removeProduct($index) " class="remove"></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 margine">
                    <div class="card ng-scope head card3">
                        <div class="row ">
                            <div class="col-md-12">
                                <fieldset class="form-control newmarg">
                                    <div class="form-group">
                                        <!--SELEZIONE INDICI-->
                                        <label class="disp" for="index1">Seleziona Indice:</label>
                                        <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                   class="form-control sizeSelect delmargin" id="index1"
                                                   on-select="selectedIndex($item)">
                                            <ui-select-match placeholder="Seleziona indice">
                                                {{$select.selected.nameIndex}}
                                            </ui-select-match>
                                            <ui-select-choices refresh="refreshIndexFood($select.search)"
                                                               refresh-delay="0"
                                                               repeat="inde in optionIndex | filter:$select.search">
                                                <div>
                                                    <div class="fer">{{inde.nameIndex}}<span class="gre">{{inde.calculate}}</span></div>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'Views/datepicker.html'"></div>
            <!-- Fine blocco selezione -->
        </div>
        <div ng-if="!Show_MC">
            <h1><a href="#!/">TORNA ALLA HOME</a></h1>
        </div>
    </div>
</div>
