<div ng-controller="ctrlCategory">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope m-0 card3">
            <h3 class="head">Indice Categorie</h3>
        </div>
        <!-- Row blocco selezione categorie -->
        <div class="row" ng-init="documOn('Cat')">
            <div class="col-md-7 margine">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-6">
                        <!--Seleziona Categorie-->
                        <button class="addProducts" ng-click="addNewCategory()"> + Aggiungi Categoria</button>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <fieldset class="form-control newmarg pb-0">
                            <div class="form-group">
                                <div class="row" ng-if="Show_TM">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <!--SELEZIONE LOCAZIONE-->
                                            <label class="disp" for="salepoint1">Seleziona Locazione:</label>
                                            <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                       class="form-control sizeSelect delmargin" id="salepoint1"
                                                       ng-disabled="!sp"
                                                       on-select="selectedSP($item)">
                                                <ui-select-match placeholder="Seleziona locazione">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="refreshSalePoint($select.search)"
                                                                   refresh-delay="0"
                                                                   repeat="salpoi in optionSalePoint | filter:$select.search">
                                                    {{salpoi.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <!--PRIMA SELECT STATICA-->
                                <div class="row">
                                    <div class="col-7">
                                        <label class="disp delmargin" for="category0">Seleziona categoria:</label>
                                        <ui-select ng-model="o" theme="select2"
                                                   class="form-control sizeSelect delmargin" id="category0"
                                                   ng-disabled="(Show_TM && !seldisable)"
                                                   on-select="selectedCategory($item, $model,-1)">
                                            <ui-select-match placeholder="Seleziona categoria">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices refresh="refreshCategoryPrFo($select.search)"
                                                               refresh-delay="0"
                                                               repeat="category in optionsCat | filter:$select.search">
                                                {{category.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <!--Blocco di generazione della select categorie + button per la rimozione-->
                        <fieldset class="form-control newmarg pb-0" data-ng-repeat="product in product">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                   class="form-control sizeSelect delmargin"
                                                   id="category{{identityVal}}"
                                                   ng-disabled="(Show_TM && !seldisable)"
                                                   on-select="selectedCategory($item, $model,$index)">
                                            <ui-select-match placeholder="Seleziona categoria">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices refresh="refreshCategoryPrFo($select.search)"
                                                               refresh-delay="0"
                                                               repeat="category in optionsCat | filter:$select.search">
                                                {{category.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button ng-click="removeCategory($index)" class="remove"></button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-5 margine">
                <div class="card ng-scope head card3">
                    <div class="row" ng-show="Show_MC">
                        <div class="col-md-12">
                            <fieldset class="form-control newmarg">
                                <div class="form-group">
                                    <label class="m-0" for="sel">Classe categoria</label>
                                    <select id="sel" class="form-control sizeSelect textinput m-0" ng-model="typeobj"
                                            placeholder="Selezionare">
                                        <option hidden></option>
                                        <option value="0">Prodotti</option>
                                        <option value="1">Piatti</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-control newmarg">
                                <div class="form-group">
                                    <!--SELEZIONE INDICI-->
                                    <label class="disp" for="index1">Seleziona Indice:</label>
                                    <ui-select ng-model="multipleDemo.colors" theme="select2"
                                               class="form-control sizeSelect delmargin" id="index1"
                                               on-select="selectedIndex($item)">
                                        <ui-select-match placeholder="Seleziona indice">
                                            {{$select.selected.nameIndex}}
                                        </ui-select-match>
                                        <ui-select-choices refresh="refreshIndexCat($select.search)"
                                                           refresh-delay="0"
                                                           repeat="inde in optionIndex | filter:$select.search">
                                            <div>
                                                <div class="fer">{{inde.nameIndex}}<span
                                                        class="gre">{{inde.calculate}}</span></div>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine blocco selezione -->
        </div>
        <div ng-include="'Views/datepicker.html'"></div>
    </div>
</div>