<div ng-controller="ctrlProduct">
    <div class="card ng-scope head card2">

        <div class="breadcrumb ng-scope m-0 card3">
            <h3 class="head">Indice Prodotti</h3>
        </div>
        <!-- Row blocco selezione prodotto -->
        <div class="row">
            <div class="col-md-7 margine">
                <div class="row ">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <p><!--Seleziona Prodotto--></p>
                        <button class="addProducts" ng-click="addNewProduct()">+ Aggiungi Prodotto</button>
                    </div>
                </div>
                <div class="row " ng-init="documOn('Prod')">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <fieldset class="form-control newmarg pb-0">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-5">
                                        <!--PRIMA SELECT STATICA-->
                                        <label class="disp delmargin" for="category0">Selezione categoria:</label>
                                        <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                   class="form-control sizeSelect delmargin" id="category0"
                                                   on-select="selectedCategory($item, $model,0,0)">
                                            <ui-select-match placeholder="Seleziona categoria">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices refresh="refreshCategory($select.search)"
                                                               refresh-delay="0"
                                                               repeat="category in optionsCat | filter:$select.search">
                                                {{category.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-6">
                                        <label class="disp delmargin" for="product0">Seleziona prodotto:</label>
                                        <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                   ng-disabled="!seldisable[0]"
                                                   class="form-control sizeSelect delmargin " id="product0"
                                                   on-select="selectedProduct($item, $model,-1)">
                                            <ui-select-match placeholder="Seleziona prodotto">
                                                {{$select.selected.description}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    refresh="refreshProduct($select.search,{'id':'product0'})"
                                                    refresh-delay="0"
                                                    repeat="product in optionsProd | filter:$select.search">
                                                {{product.description }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-1 p-0">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <!--Blocco di generazione della UIselect prodotti + button per la rimozione-->
                        <fieldset class="form-control newmarg pb-0" ng-repeat="product in product">
                            <div class="form-group">
                                <div class="row ">
                                    <div class="col-5">
                                        <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                   class="form-control sizeSelect delmargin"
                                                   id="category{{identityVal}}"
                                                   on-select="selectedCategory($item, $model,$index,{{identityVal}})">
                                            <ui-select-match placeholder="Seleziona categoria">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices refresh="refreshCategory($select.search)"
                                                               refresh-delay="0"
                                                               repeat="category in optionsCat | filter:$select.search">
                                                {{category.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-6">
                                        <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                   ng-disabled="!seldisable[{{identityVal}}]"
                                                   class="form-control sizeSelect delmargin"
                                                   id="product{{identityVal}}"
                                                   on-select="selectedProduct($item, $model,$index)">
                                            <ui-select-match placeholder="Seleziona prodotto">
                                                {{$select.selected.description}}
                                            </ui-select-match>
                                            <ui-select-choices refresh="refreshProduct($select.search,{{product}})"
                                                               refresh-delay="0"
                                                               repeat="product in optionsProd | filter:$select.search">
                                                {{product.description}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-1 p-0" align="left">
                                        <button ng-click="removeProduct($index) " class="remove"></button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-5 margine">
                <div class="card ng-scope head card3">
                    <div class="row ">
                        <div class="col-md-12">
                            <fieldset class="form-control newmarg">
                                <div class="form-group">
                                    <!--SELEZIONE INDICI-->
                                    <label class="disp" for="index1">Seleziona Indice:</label>
                                    <ui-select ng-model="multipleDemo.colors" theme="select2"
                                               class="form-control sizeSelect delmargin" id="index1"
                                               on-select="selectedIndex($item, $model)">
                                        <ui-select-match placeholder="Seleziona indice">
                                            {{$select.selected.nameIndex}}
                                        </ui-select-match>
                                        <ui-select-choices refresh="refreshIndexPro($select.search)"
                                                           refresh-delay="0"
                                                           repeat="inde in optionIndex | filter:$select.search">
                                            <div>
                                                <div class="fer">{{inde.nameIndex}}<span
                                                        class="gre">{{inde.calculate}}</span>
                                                </div>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" ng-if="Show_TM">
                        <div class="col-md-12">
                            <fieldset class="form-control newmarg">
                                <div class="form-group">
                                    <!--SELEZIONE LOCAZIONE-->
                                    <label class="disp" for="salepoint1">Seleziona Locazione:</label>
                                    <ui-select ng-model="multipleDemo.colors" theme="select2"
                                               class="form-control sizeSelect delmargin" id="salepoint1"
                                               on-select="selectedSP($item)">
                                        <ui-select-match placeholder="Seleziona locazione">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices refresh="refreshSalePoint($select.search)"
                                                           refresh-delay="0"
                                                           repeat="salpoi in optionSalePoint | filter:$select.search">
                                            {{salpoi.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Views/datepicker.html'"></div>
        <!-- Fine blocco selezione -->
    </div>
</div>
