<div ng-controller="mySelect">
    <div class="card ng-scope head card2">
        <div ng-if="Show_ML">
            <div class="breadcrumb ng-scope card3" ng-init="documOn('Comp')">
                <h3 class="head">Confronti</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 ng-scope head card3">
                        <div class="breadcrumb ng-scope">
                            <h5 class="head">Prodotti/Categorie</h5>
                        </div>
                        <!-- BLOCCO SELEZIONE PRODOTTI E CATEGORIE-->
                        <div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <p><!--Seleziona Prodotto/Categorie--></p>
                                    <button class="addProducts" ng-click="addNewProdCat()"> + Aggiungi Prodotto o
                                        Categoria
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <fieldset class="form-control newmarg pb-0">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-10">
                                                    <!--PRIMA SELECT STATICA-->
                                                    <label class="disp delmargin" for="prd-cat0">Seleziona
                                                        prodotto/categoria:</label>
                                                    <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                               class="form-control sizeSelect delmargin"
                                                               id="prd-cat0"
                                                               on-select="selectedProdCat($item, $model,0)">
                                                        <ui-select-match placeholder="Seleziona prodotto/categoria">
                                                            {{$select.selected.type == 'cat' ? $select.selected.name : $select.selected.description}}
                                                        </ui-select-match>
                                                        <ui-select-choices refresh="refreshProdCat($select.search)"
                                                                           refresh-delay="0"
                                                                           repeat="prodcat in optionsProdCat | filter:$select.search">
                                                            {{prodcat.type == 'cat' ? prodcat.name : prodcat.description}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-2">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <!--BLOCCO DI GENERAZIONE DELLE SELECT DEI PRODOTTI/CATEGORIE DINAMICI -->
                                    <fieldset class="form-control newmarg pb-0" data-ng-repeat="product in product">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-10">
                                                    <ui-select ng-model="multipleDemo.colors" theme="select2"
                                                               class="form-control sizeSelect delmargin"
                                                               id="pro-cat{{identityVal}}"
                                                               on-select="selectedProdCat($item, $model,{{identityVal}})">
                                                        <ui-select-match placeholder="Seleziona prodotto/categoria">
                                                            {{$select.selected.type == 'cat' ? $select.selected.name : $select.selected.description}}
                                                        </ui-select-match>
                                                        <ui-select-choices refresh="refreshProdCat($select.search)"
                                                                           refresh-delay="0"
                                                                           repeat="prodcat in optionsProdCat | filter:$select.search">
                                                            {{prodcat.type == 'cat' ? prodcat.name : prodcat.description}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-1 p-0" align="left">
                                                    <button ng-click="removeProdCat($index)"
                                                            class="remove"></button>
                                                </div>
                                                <div class="col-1">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <!--FINE BLOCCO SELEZIONE PRODOTTI E CATEGORIE-->
                        </div>
                    </div>

                </div>

                <!--INIZIO BLOCCO Locazione-->
                <div class="col-md-6">
                    <div class="card mb-3 ng-scope head card3">
                        <div class="breadcrumb ng-scope ">
                            <h5 class="head">Locazione</h5>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <p><!--Seleziona Locazione--></p>
                                    <button class="addProducts" ng-click="addNewSalePoint()"> + Aggiungi Locazione
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <fieldset class="form-control newmarg pb-0">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-10">
                                                    <!--PRIMA SELECT LOCAZIONE-->
                                                    <label class="disp delmargin" for="salepoint0">Seleziona
                                                        locazione:</label>
                                                    <ui-select ng-model="multipleDemo.colors"
                                                               theme="select2"
                                                               class="form-control sizeSelect delmargin"
                                                               id="salepoint0"
                                                               on-select="selectedSP($item, $model,0)">
                                                        <ui-select-match
                                                                placeholder="Seleziona locazione">
                                                            {{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                                refresh="refreshSalePoint($select.search)"
                                                                refresh-delay="0"
                                                                repeat="salpoi in optionSalePoint | filter:$select.search">
                                                            {{salpoi.name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-2">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <fieldset class="form-control newmarg pb-0" data-ng-repeat="salepoint in salepoint">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-10">
                                                    <!--Blocco di generazione della select locazione + button per la rimozione-->
                                                    <ui-select ng-model="multipleDemo.colors"
                                                               theme="select2"
                                                               class="form-control sizeSelect delmargin"
                                                               id="salepoint{{identityValSP}}"
                                                               on-select="selectedSP($item, $model,{{identityValSP}})">
                                                        <ui-select-match
                                                                placeholder="Seleziona locazione">
                                                            {{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                                refresh="refreshSalePoint($select.search)"
                                                                refresh-delay="0"
                                                                repeat="salpoi in optionSalePoint | filter:$select.search">
                                                            {{salpoi.name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-1 p-0" align="left">
                                                    <button ng-click="removeSalepoint($index)"
                                                            class="remove"></button>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Blocco di gestione degli indici-->
                <div class="col-md-12">
                    <div class="card ng-scope head card3">
                        <div class="breadcrumb ng-scope ">
                            <h5 class="head">Indici</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row pl-3 pr-3">
                                    <div class="col-md-2 p-0 m-1 mr-2" ng-repeat="indexP in optionIndex">
                                        <input type="checkbox" value="{{indexP.nameIndex}}"
                                               id="{{$index}}" ng-model="check2"
                                               ng-change="selecVal($index)"/>
                                        <label for="{{$index}}">{{indexP.nameIndex}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'Views/datepicker.html'"></div>
        </div>
        <div ng-if="!Show_ML">
            <h1><a href="#!/">TORNA ALLA HOME</a></h1>
        </div>
    </div>
</div>
